build
/openISBTBackend/out
/openISBTFrontend/build
/openISBTFrontend/out
/openISBTFrontend/web
/.gradle
/.idea
/openISBTWorker/out
/openISBTFrontend/node_modules
/fakerServer/node_modules
/*.log
/mapping.json
/results.csv
/results.json
/workload.json
/fakerServer/package-lock.json
/gradle
