.mappingTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.supportedRow {
    border: solid 3px;
    background-color: lightgreen;
}

.notSupportedRow {
    border: dotted 3px;
    background-color: lightgray;
}

.pointable {
    cursor: pointer;
}

th {
    font-weight: normal;
}

.headline th{
    border-bottom: 3px solid #ddd;
    font-weight: bold;
    text-align: center;
}

.patternline th, td {
    border-bottom: 3px solid #ddd;
    text-align: center;
}

.patternline p {
    font-weight: bold;
    font-family: sans-serif;
}

.supported {
    color: green;
}

.notSupported {
    color: red;
}

.patternoperation {
    border-bottom: 3px dotted #ddd
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}