 html {
   height: 100%
 }

 body {
  height: 100%
 }

 /* Style the navbar to be always on top */
#topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Page content below top navigation*/
.content {
  padding-top: 60px;
  width: 80%;
  height: 80%;
  margin: auto;
}

/* Change the color of links on hover only in top navigation */
#topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* All bars schould have the same background link colors*/
.bar {
    background-color: #333;
}
/* bar link and paragraph style */
.bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* bar link and paragraph style */
.bar p {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
}
/* change color of the active link in a bar */
.bar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Stepbar properties*/
.stepbar {
  display: flex;
  justify-content: center;
}

.stepbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.stepbar a.active {
  background-color: #4CAF50;
  color: white;
  border-style: dotted;
  border-color: #4CAF50;
}

.stepbar a.inactive {
  color: gray;
  background-color: white;
  border-style: dotted;
}

.stepbar a.done {
  color: gray;
  background-color: #333;
  border-style: dotted;
}

.stepbar a.step {
  min.width: 10%;
  margin-left: 5px;
  margin-right: 5px;
}

.stepbarseparation {
    border-width: 3px;
    border-style: solid;
    border-color: grey;
}

button.next {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}