.hidden{
    display: none;
}

.addmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.horizontalSpace {
    margin-right: 10px;
}

.resultsTable {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 4px solid #333333;
}

th {
    font-weight: normal;
}

.headline th{
    font-weight: bold;
    text-align: center;
    font-size: 16pt;
}

.resultRow {
    border-bottom: 3px solid #ddd;
    background-color: lightgray;
}

.totalPatternRow {
    border-bottom: 3px solid #ddd;
    background-color: lightgreen;
}

.totalPatternRow th{
    font-weight: bold;
    font-size: 16pt;
}

.newResource {
    border-top: 4px solid #333333;
}